#container {
  max-width: 960px;
  margin: 0 auto;
  background-color: green;
}
.tiles {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.tile {
  width: 33%;
  opacity: 1;
}

.tile.expanded {
  opacity: 0.5;
}



